<h1>My Personal Idea</h1>
<table>
  <tr>
  <th>Title</th>
  <th>Description</th>
</tr>
<tr>
<td><%= @idea.title %></td>
<td><%= @idea.description %></td>
</tr>
</table>
<%= link_to "Edit Idea", edit_idea_path(@idea) %>
<p><%= link_to "Delete Idea", idea_path(@idea), method: :delete, data: {confirm: "Really delete this idea?"} %></p>
<p><%= link_to "All Ideas", ideas_path %></p>
<p><%= link_to "New Idea", new_idea_path %></p>
