<!DOCTYPE html>
<html>
<head>
  <title>Kdrama Idea Box</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <div id="logout">
    <p><%= link_to "Logout", logout_path, method: :delete %></p>
  </div>
  <% else %>
  <p><%= link_to "Log In", login_path %></p>
  <% end %>

  <% flash.each do |key, value| %>
  <%= content_tag(:p, value, :class => "flash #{key}") %>
<% end %>
<%= yield %>

</body>
</html>
