<!DOCTYPE html>
<html>
<head>
  <title>KdramaIdeaBox</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  Welcome, <%= @user.username %>!

<%= link_to "Logout", user_logout_path, method: :delete %>
<%= yield %>

</body>
</html>
